<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
    <link rel="stylesheet" href="register.css">
</head>
<body>
    <div class="container">
    <form action="register/new" method="post">
        <h2>Register</h2>
        <label for="email">Email:</label>
        <input type="email" id="email" name="email" required>
        <br><br>
        <label for="password">Password:</label>
        <input type="password" id="password" name="password" required>
        <br><br>
          <label for="roles">Role:</label>
          <select id="roles" name="roles">
              <option value="job_seeker" selected>Job Seeker</option>
              <option value="employer">Emoployeer</option>
          </select>
          <br><br>
        <input type="submit" value="Register">
        <p>Already have an account? <a href="http://localhost:8080/signin">Sign In</a></p>
      </form>
    </div>  
</body>
</html>